/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-color: #AD64CB;
    width: 320px;
}

h1 {
    font-size: 24pt;
    font-family: inherit;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center center;
}

.choices {
    width: 100;
    border: none;
    font-family: inherit;
    font-size: 24pt;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 1px;
    outline: none;
    text-align: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 71px;
}

input[type=range] {
    width: 100%;
}

#mainPage {
    text-align: center;
    background-color: #AD64CB;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#detailHeader {
    text-align: center center;
    height: 30px;
}

.mainButton {
    background-color: #FFFFFF;
    color: #AD64CB;
    border: none;
    font-family: inherit;
    font-size: 18pt;
    font-weight: 300;
    padding: 12px 80px;
    display: inline-black;
    margin: 15px 30px;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#weatherButton {
    background-color: #E68A3A;
}

#icecreamButton {
    background-color: #E6695C;
}

#movieButton {
    background-color: #E6B600;
}

#coffeeButton {
    background-color: #2ECC71;
}

#newsButton {
    background-color: #25CCA9;
}

#offButton {
    background-color: #308DCC;
}

#disconnectButton {
    background-color: #9858B3;
    color: #FFFFFF;
    width: 100%;
     border: none;
    font-family: inherit;
    font-size: 24pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    text-align: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 71px;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-input-placeholder {
    color: #fff;
}

#dressButton {
    padding: 12px 40px;
    display: inline-block;
    margin-left: -7px;
    margin-bottom: 0px;
}

#backButton {
    background-color: #34485E;
    color: #FFFFFF;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 24pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    text-align: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 71px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#sendButton {
    background-color: #34485E;
    color: #E68A3A;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 18pt;
    font-weight: 300;
    padding: 12px 80px;
    display: inline-block;
    width: 80%;
    letter-spacing: 1px;
    outline: none;
    text-align: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

li {
    background-color: #FFFFFF;
    color: #AD64CB;
    border: none;
    font-family: inherit;
    font-size: 18pt;
    font-weight: 300;
    padding: 12px 80px;
    margin: 15px 30px;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#weatherPage {
    background-color: #E68A3A;
    height: 548px;
}

#inputDiv {
    width: 100%;
}

#messageInput {
    background-color: #E68A3A;
    color: #FFFFFF;
    text-align: center center;
    border: none;
    border-radius: 0;
    border-bottom: solid 2px #FFFFFF;
    transition: border 0.3s;
    font-family: inherit;
    font-weight: 300;
    margin: 0 auto;
    display: block;
}

.focus {
    border-bottom: solid 2px #FFFFFF;
}

#resultFiv {
    background-color: inherit;
    color: #FFFFFF;
     border: none;
    font-family: inherit;
    font-size: 18pt;
    font-weight: 300;
    padding: 0px;
    margin: 15px 30px;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}